.partners_inner {
  gap: 60px 87px;
}

.print-services_inner-card:nth-child(1) {
  grid-column: span 1;
}


.print-services_inner-card:nth-child(6) {
  grid-column: span 1;
}

.other_services-card:hover {
  transition: 0.8s;
  opacity: 0.6;
}

.bread {
  font-size: 12px;
  line-height: 1.5;
  color: var(--dark-color)
}

.bread-item,
.bread-separator {
  color: var(--dark-color)
}

.bread-item {
  opacity: 0.5;
  text-decoration: none;
}

.bread-item a {
  text-decoration: none;
  color: var(--dark-color)
}

.bread-item--current {
  opacity: 1;
  color: #1C1C1C;
}

.bread-separator {
  margin: 0 4px;
  opacity: 0.5;
}

.print-services_big-card {
  background-image: url(../images/bottle_labels/big_card.webp);
  margin-bottom: 30px;
  padding: 70px;
  height: 506px;
}

.big-card_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 86px;
  color: var(--dark-color);
}

.big-card_text-title.sub-headers {
  font-size: 48px;
}

p.big-card_text-p {
  opacity: 1;
  font-size: 16px;
  width: 578px;
}

.big-card_button {
  background-color: var(--red-color);
  color: #ffffff;
  padding: 15px 37px;
  text-decoration: none;
  display: inline-block;
  transition: 0.8s;
}

.big-card_button:hover {
  transition: 0.8s;
  opacity: 0.6;
}

.benefits {
  margin-bottom: 100px;
}

.information {
  margin-bottom: 100px;
}

.information_inner {
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.information_title {
  margin-bottom: 77px;
}

.information_inner-block {
  max-width: 1600px;
  display: flex;
  gap: 66px;
  margin-right: auto;
}

.information_inner-block-text {
  width: 650px;
  margin-top: 30px;
}

.information_inner-block-text-p {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1c1c1c;
}

.information_inner-block-reverse {
  display: flex;
  gap: 66px;
  max-width: 1600px;
  margin-left: auto;
}

.other_services {
  margin-bottom: 100px;
}

.other_services-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

/* стрелки */
.other_services-arrows {
  display: flex;
  gap: 8px;
}

.other_services-arrow {
  width: 48px;
  height: 48px;
  border: none;
  padding: 0;
  background: #E30613;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.other_services-arrow[disabled] {
  opacity: 0.4;
  cursor: default;
}

/* слайдер */
.other_services-slider {
  overflow: hidden;
  width: 100%;
}


.other_services-track {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease;
}

.other_services-card {
  position: relative;
  height: 300px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding: 0px 0px 34px 24px;
  cursor: pointer;
  flex: 0 0 304px;
  font-size: 20px;
  margin-right: 20px;
}

.other_services-card:last-child {
  margin-right: 0;
}

.other_services_pager {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.other_services_pager .pager-dot {
  width: 16px;
  height: 4px;
  border: 0;
  border-radius: 4px;
  background: #d0d3d6;
  cursor: pointer;
}

.other_services_pager .pager-dot.is-active {
  background: #d71818;
}

@media (max-width: 720px) {
  .other_services-arrows {
    display: none;
  }

  .other_services-slider {
    position: relative;
  }

  .other_services-track {
    position: relative;
    transform: none !important;
  }

  .other_services-card {
    position: absolute;
    inset: 0;
    margin: 0;
    flex: 0 0 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    background-size: cover;
    background-position: center;
  }

  .other_services-card.is-active {
    opacity: 1;
    pointer-events: auto;
  }
}


.process {
  margin-bottom: 150px;
}


.faq {
  padding: 40px 0 60px;
}

.faq-title {
  margin-bottom: 48px;
  font-size: 40px;
  color: #1C1C1C;
}

.faq-list {
  border-top: 1px solid #F5F5F5;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-header {
  width: 100%;
  padding: 12px 16px;
  background: #F5F5F5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-align: left;
}

.faq-question {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #1c1c1c;
  font-family: "Montserrat", sans-serif;
}

.faq-icon-wrap {
  width: 40px;
  height: 40px;
  background: #E30613;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease;
  flex-shrink: 0;
  border-radius: 4px;
}

.faq-icon {
  display: none;
}

.faq-item:not(.faq-item--open) .faq-icon-plus {
  display: block;
}

.faq-item.faq-item--open .faq-icon-minus {
  display: block;
}

.faq-item--open .faq-icon-wrap {
  background: #1C1C1C;
}

.faq-body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 24px;
  background: #F5F5F5;
  font-size: 15px;
  line-height: 1.5;
  color: #1C1C1C;
  transition:
}

.faq-body p {
  margin: 0 0 12px;
}

.faq-body p:nth-child(2) {
  margin-bottom: 0;
}

.faq-body p:last-child {
  margin-bottom: 0;
}

.faq-item--open .faq-body {
  max-height: 1000px;
  opacity: 1;
  padding-top: 20px;
  padding-bottom: 41px;
}

.faq-item--open .faq-body {
  display: block;
}

.requirements {
  margin-bottom: 100px;
}

.requirements_inner-title {
  margin-bottom: 32px;
}

.requirements_inner-text {
  font-size: 14px;
  line-height: 1.5;
  color: #1C1C1C;
}

.requirements_inner-text p {
  margin-bottom: 20px;
}

.requirements_inner-text p:nth-child(2) {
  margin-bottom: 0;
}

@media screen and (max-width:1280px) {
  .faq {
    padding: 30px;
    margin-bottom: 30px;
  }

  .requirements {
    padding: 30px;
    margin-bottom: 30px;
  }

  .print-services_big-card {
    background-image: url(../images/bottle_labels/big_card780.webp);
  }

  p.big-card_text-p {
    width: 410px;
  }

  div.big-card_text {
    margin-bottom: 32px !important;
  }

  .big-card_text-title.sub-headers {
    font-size: 40px;
  }
}

@media screen and (max-width:720px) {
  .faq-question {
    font-size: 20px;
  }

  p.big-card_text-p {
    width: 288px;
    font-size: 15px;
  }

  div.big-card_text {
    margin-bottom: 188px !important;
  }

  .print-services_big-card {
    background-image: url(../images/bottle_labels/big_card380.webp);
    height: 600px !important;
  }

  section.portfolio {
    margin-bottom: 10px;
  }

  .portfolio_inner {
    margin-bottom: 40px;
  }

  .faq {
    margin-bottom: 0;
  }

  .requirements {
    margin-bottom: 0;
  }

  .big-card_text-title.sub-headers {
    font-size: 28px;
  }
}