@font-face {
  font-family: "Montserrat";
  src: url(../fonts/subset-Montserrat-Medium.woff2) format(woff2),
    url(../fonts/subset-Montserrat-Medium.woff) format(woff);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/subset-Montserrat-SemiBold.woff2) format(woff2),
    url(../fonts/subset-Montserrat-SemiBold.woff) format(woff);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/subset-Montserrat-Bold.woff2) format(woff2),
    url(../fonts/subset-Montserrat-Bold.woff) format(woff);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url(../fonts/subset-Spectral-SemiBold.woff2) format(woff2),
    url(../fonts/subset-Spectral-SemiBold.woff) format(woff);
  font-weight: 600;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1276px;
}

/* Тексты */

/* Montserrat */
.text-bd {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.text-smb {
  font-size: 16px;
  font-weight: 600;
}

.text-md {
  font-weight: 500;
  font-size: 16px;
}

.text-p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.6;
}

.add-text {
  font-size: 12px;
  font-weight: 500;
}



/* Spectral */

.headers {
  font-family: "Spectral", sans-serif;
  font-size: 64px;
  font-weight: 600;
}

.sub-headers {
  font-family: "Spectral", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
}

/* Переменные цветов */
:root {
  --red-color: #E30613;
  --dark-color: #1C1C1C;
  --gap: 20px;
  --pic: 240px;
  --arrow-w: 132px;
  --arrow-h: 33px;
  --arrow-shift: 24px;
  --gap: 20px;
}

/* Заголовок */
.header {
  margin-top: 15px;
  margin-bottom: 32px;
}

.header-inner {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.header-inner_list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: flex-start;
  gap: 51px;
  padding-top: 15px;
  margin-right: 60px;
}

.header-logo {
  margin-right: 132px;
}

.header-inner_list-item:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header-inner_list-item-note {
  opacity: 50%;
}

.header-inner_button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 24px;
  background-color: #1C1C1C;
  color: #fff;
  text-decoration: none;
  border: 1px solid #1C1C1C;
  transition: 0.8s;
}

.header-inner_button:hover {
  color: var(--red-color);
  background-color: transparent;
  border: 1px solid var(--red-color);
  transition: 0.8s;
}

.header-inner_icon-hidden {
  display: none;
}

.sub-menu {
  box-shadow: 0 4px 80px 0 rgba(9, 12, 29, 0.05);
  background: #fff;
  margin-top: 30px;
  padding: 17px 63px 0px 60px;
}

.sub-menu_list {
  display: flex;
  gap: 115px;
  justify-content: space-between;
  list-style: none;
}

.sub-menu_list-elem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  transition: 0.8s;
  white-space: nowrap;
  border-bottom: 1px solid transparent;
  padding-bottom: 16px;
}

.sub-menu_list-elem::after {
  content: "";
  position: absolute;
  left: -30px;
  right: -30px;
  bottom: 0;
  height: 2px;
  background: #E30613;
  transform-origin: center;
  transform: scaleX(0);
  transition: 0.8s;
}

.sub-menu_list-elem:hover::after {
  transform: scaleX(1);
}

.header-inner_button-hid {
  display: none;
}

@media screen and (max-width:1280px) {

  /* Заголовок */
  .header {
    margin-bottom: 32px;
  }

  .header-logo {
    margin-right: 32px;
    width: 199px;
  }

  .header-inner_list {
    margin-right: 40px;
    padding-top: 0;
  }

  .sub-menu {
    margin-top: 16px;
  }

  .sub-menu_list {
    gap: 20px;
  }

  .sub-menu_list-elem {
    font-size: 12px;
    font-weight: 500;
  }

  .header-inner {
    padding: 0 30px;
    align-items: center;
  }
}

@media screen and (max-width:1000px) {
  .header-inner_button {
    display: none;
  }

  .header-inner_icon-hidden {
    display: block;
  }

  .header-inner_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 5px 20px;
    justify-items: center;
  }

  .header-inner_list-item:first-child {
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: start;
  }

  .header-inner_list-item:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
  }


  .header-inner_list-item:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
  }

}

@media screen and (max-width:700px) {

  .header-inner_list-item:first-child,
  .header-inner_list-item:nth-child(3),
  .header-inner_list-item:nth-child(2) {
    grid-column: auto;
    grid-row: auto;
    grid-area: auto;
  }

  .header-inner_list-item:nth-child(1) {
    grid-column: 1;
    grid-row: 2;
    align-self: start;
  }

  .header-inner_list-item:nth-child(3) {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
  }

  .sub-menu {
    display: none;
  }

  .header-inner_list-item-title-hid {
    display: none;
  }

  .header-inner_list {
    grid-template-columns: repeat(1, 125px);
    margin-right: 25px;
    justify-items: flex-start;
  }

  .header-logo {
    margin-right: 16px;
  }

  .header-inner_list-item-title {
    font-size: 14px;
  }

  .header-inner_button-hid {
    display: flex;
    padding: 10px 80px;
    width: 328px;
    background-color: transparent;
    color: var(--red-color);
    border: 1px solid var(--red-color);
    margin: 0 auto;
    margin-top: 15px;
  }
}

/* Голова */
.head {
  margin-bottom: 70px;
}

.head_inner {
  display: flex;
  justify-content: space-between;
  background-color: #F5F5F5;
  align-items: flex-end;
}

.head_left {
  display: flex;
  flex-direction: column;
  padding: 90px 56px 80px 70px;
  align-items: flex-start;
}

.head_right {
  padding-right: 50px;
}

.head_left-title {
  margin-bottom: 16px;
}

.head_left-img {
  display: none;
}

.head_left-button {
  text-decoration: none;
  color: white;
  background-color: var(--red-color);
  padding: 15px 37px;
  margin-bottom: 95px;
  transition: 0.8s;
}

.head_left-button:hover {
  opacity: 0.6;
  transition: 0.8s;
}

.head_left-p {
  margin-bottom: 52px;
  opacity: 0.5;
}

.head_left-progress-bars {
  display: flex;
  gap: 6px;
}

.head_left-progress-bar {
  display: flex;
  background-color: #DBDBDB;
  width: 50px;
  height: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.head_left-progress-bar-completed {
  background-color: var(--red-color);
  border-radius: 5px;
}

.head_left-progress-bar-remaining {
  border-radius: 5px;
}

@media screen and (max-width:1280px) {
  .head_right {
    width: 357px;
    height: 300px;
    padding-right: 0;
  }

  .head_inner {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:980px) {
  .head_left {
    padding: 90px 0 80px;
  }

  .head_inner {
    gap: 20px;
  }
}

@media screen and (max-width:900px) {
  .head_left-title {
    font-size: 40px;
  }
}

@media screen and (max-width:750px) {
  .head_left {
    justify-content: center;
    align-items: center;
  }

  .head_left-img {
    width: 400px;
    height: 380px;
    display: block;
  }

  .head_right {
    display: none;
  }

  .head_left-button {
    padding: 15px 73px;
    margin-bottom: 36px;
    margin-top: -10px;
  }

  .head_left-p {
    margin-bottom: 24px;
  }

  .head_left-title {
    margin-bottom: 12px;
    font-size: 32px;
  }

  .head_left-title,
  .head_left-p {
    margin-right: auto;
  }
}

@media screen and (max-width:400px) {
  .head_left-img {
    width: 287px;
    height: 244px;
  }
}


/* Сервис */
.services {
  margin-bottom: 56px;
}

.services_inner {
  display: flex;
  justify-content: space-between;
}

.services_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.services_left-title {
  margin-bottom: 32px;
  max-width: 527px;
}

.services_left-text {
  max-width: 564px;
}

@media screen and (max-width:1280px) {
  .services_inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.services_left-text-p {
  margin-bottom: 20px;
}

/* Услуги типографии */
.print-services {
  margin-bottom: 100px;
}

.print-services_title {
  margin-bottom: 50px;
}

.print-services_inner {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-flow: row;
  grid-auto-rows: auto;
}

.print-services_inner-card {
  position: relative;
  height: 300px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding: 0px 0px 34px 24px;
}

.print-services_inner-card:nth-child(1) {
  grid-column: span 2;
}

.print-services_inner-card:nth-child(6) {
  grid-column: span 2;
}

@media screen and (max-width:750px) {
  .services {
    padding-right: 15px;
    padding-left: 15px;
  }

  .services_left-title {
    font-size: 28px;
    width: 309px;
  }
}

@media screen and (max-width:1280px) {
  .print-services {
    padding: 20px;
    margin-bottom: 60px;
  }

  .print-services_inner {
    grid-template-columns: repeat(2, 1fr)
  }

  .print-services_inner-card:nth-child(1),
  .print-services_inner-card:nth-child(6) {
    grid-column: auto;
  }

  .print-services_title {
    margin-bottom: 32px;
  }
}

@media (max-width:750px) {
  .print-services_title {
    font-size: 28px;
  }

  .print-services_inner {
    position: relative;
    width: 328px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    transition: opacity .25s ease;
    /* fade */
  }

  .print-services_inner.is-fading {
    opacity: .06;
  }

  .print-services_inner-card {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    color: #fff;
    font-size: 16px;
  }

  .print-services_inner-card.is-active {
    opacity: 1;
    pointer-events: auto;
  }

  .services_pager {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-top: 32px;
    justify-content: center;
  }

  .services_pager .pager-dot {
    width: 16px;
    height: 4px;
    border: 0;
    border-radius: 4px;
    background: #d0d3d6;
    cursor: pointer;
  }

  .services_pager .pager-dot.is-active {
    background: #d71818;
  }
}

/* Форма обратной связи */
.contacts {
  margin-bottom: 100px;
}

.contacts_title {
  margin-bottom: 48px;
}

.contacts_title-brand {
  color: var(--red-color);
}

.contacts_inner {
  display: flex;
  gap: 36px;
}

.contacts_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.contacts_cards-item {
  background-color: #F5F5F5;
  width: 350px;
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 28px;
}

.contacts_cards-item-ico {
  margin-bottom: 35px;
}

.contacts_cards-item-title {
  font-size: 20px;
  margin-bottom: 16px;
}

.contacts_cards-item-title-red {
  color: var(--red-color);
}

.contacts_cards-item-text {
  opacity: 1;
}

.contacts_form {
  background-image: url(../img/index/contacts-form.webp);
  background-color: var(--red-color);
  background-repeat: no-repeat;
  background-position: center 30px;
  padding-top: 35px;
  padding-left: 35px;
}

.contacts_form-title {
  color: white;
  margin-bottom: 32px;
}


.contacts_form-block-input {
  display: flex;
  margin-bottom: 20px;
}

.contacts_form-block-input-item {
  border: 1px white solid;
  border-radius: 3px;
  background-color: transparent;
  padding: 13px 0 14px 16px;
  width: 200px;
  outline: none;
  color: white;
  font: 15px/1.5 "Montserrat", sans-serif;
}

.contacts_form-block-input-item:nth-child(1) {
  margin-right: 10px;
}

.contacts_form-block-input-item::placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;

}

.contacts_form-block-textarea {
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  width: 410px;
  padding: 13px 0 63px 16px;
  margin-bottom: 40px;
  color: white;
  font: 15px/1.5 "Montserrat", sans-serif;
  resize: none;
}

.contacts_form-block-textarea::placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
}

.contacts_form-block-button {
  padding: 15px 159px;
  background-color: white;
  color: var(--red-color);
  border: 1px solid white;
  text-decoration: none;
  border-radius: 3px;
  margin-bottom: 75px;
  display: inline-block;
  transition: 0.8s;
}

.contacts_form-block-button:hover {
  opacity: 0.7;
  transition: 0.8s;
}

.contacts_form-block-text {
  color: white;
  opacity: 0.5;
  width: 265px;
  font-size: 12px;
}

.contacts_br-hid {
  display: none;
}

.contacts_policy {
  text-decoration: underline;
}

.contacts_img {
  display: none;
}

@media screen and (max-width:1280px) {
  .contacts {
    margin-bottom: 60px;
  }

  .contacts_inner {
    flex-direction: column;
  }

  .contacts_cards {
    justify-items: center;
    gap: 8px;
    grid-template-columns: 350px 350px;
    margin: 0 auto;
  }

  .contacts_title {
    text-align: center;
  }

  .contacts_form {
    margin: 0 auto;
    background-position: top right;
    background-image: url(../img/index/contacts-form780.webp);
    width: 708px;
    padding-bottom: 26px;
  }

  .contacts_form-block-textarea {
    width: 644px;
    margin-bottom: 20px;
  }

  .contacts_br {
    display: none;
  }

  .contacts_cards-item {
    width: 328px;
    padding: 24px 32px 32px 24px;
  }

  .contacts_form-block-input {
    margin-bottom: 10px;
  }

  .contacts_form-block-input-item {
    width: 298px;
  }

  .contacts_form-block-input-item:nth-child(2) {
    width: 335px;
  }

  .contacts_form-block-button {
    padding: 15px 312px 15px 240px;
    margin-bottom: 32px;
  }

  .contacts_form-block-text {
    margin-left: 50px;
    width: 539px;
    text-align: center;
  }

  .contacts_br-hid {
    display: inline;
  }

  .break {
    display: block;
  }
}

@media screen and (max-width:720px) {
  .contacts_cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .contacts_title {
    margin-bottom: 32px;
    font-size: 28px;
    margin-left: 16px;
  }

  .contacts_form {
    width: 328px;
    padding: 20px;
  }

  .contacts_form-block-input {
    flex-direction: column;
    gap: 10px;
  }

  .contacts_form-block-input-item:nth-child(1) {
    width: 288px;
    margin-right: 0;
  }

  .contacts_form-block-input-item:nth-child(2) {
    width: 288px;
  }

  .contacts_form-title {
    font-size: 28px;
  }

  .contacts_form-block-textarea {
    width: 288px;
  }

  .contacts_form-block-button {
    padding: 15px 98px;
  }

  .contacts_form-block-text {
    width: 265px;
    text-align: left;
    margin-left: 0;
  }

  .break {
    display: inline;
  }
}

@media screen and (max-width: 420px) {
  .contacts_title {
    text-align: start;
  }
}

@media screen and (max-width: 380px) {
  .contacts {
    position: relative;
  }

  .contacts_img {
    display: block;
    position: absolute;
    right: 0;
    bottom: 370px;
  }

  .contacts_form {
    background-image: none;
  }
}

/* Как мы работаем */
.process {
  margin-bottom: 100px;
}

.process_title {
  margin-bottom: 48px;
}

.process_block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  align-items: start;
}

.process_block-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: relative;
  text-align: center;
}

.process_block-card::after {
  content: "";
  position: absolute;
  left: calc(100% + var(--gap)/2 - var(--arrow-w)/2 - 10px);
  bottom: calc(-1 * var(--arrow-h)/2 - var(--arrow-shift));
  width: var(--arrow-w);
  height: var(--arrow-h);
  pointer-events: none;
  z-index: 2;
}

.process_block-card-text {
  font-size: 20px;
  line-height: 1.4;
}

.process_block-card:nth-child(odd)::after {
  background: url("../img/index/arrow1.svg") center/contain no-repeat;
}

.process_block-card:nth-child(even) {
  --arrow-w: 134px;
  --arrow-h: 63px;
}

.process_block-card:nth-child(even)::after {
  background-image: url("../img/index/arrow2.svg");
}

.process_block-card:last-child::after {
  display: none;
}

@media screen and (max-width:1280px) {
  .process {
    margin-bottom: 60px;
  }

  .process_block {
    grid-template-columns: repeat(3, 1fr);
  }

  .process_block img {
    width: 200px;
  }

  .process_title {
    margin-left: 30px;
  }

  .process_block-card:nth-child(odd) {
    --arrow-w: 132px;
    --arrow-h: 33px;
  }

  .process_block-card:nth-child(odd)::after {
    background: url("../img/index/arrow1780.svg") center/contain no-repeat;
  }

  .process_block-card:nth-child(even) {
    --arrow-w: 134px;
    --arrow-h: 63px;
  }

  .process_block-card:nth-child(odd)::after {
    background: url("../img/index/arrow2780.svg") center/contain no-repeat;
  }

  .process_block-card:nth-child(3)::after {
    display: none;
  }

  .process_block-card::after {
    --arrow-shift: -50px;
  }
}

@media screen and (max-width:750px) {
  .process_block {
    grid-template-columns: repeat(1, 1fr);
  }

  .process_title {
    text-align: center;
  }

  .process_block img {
    width: 328px;
  }

  .process_block-card-text {
    font-size: 20px;
    line-height: 1.4;
  }

  .process_block-card:nth-child(odd)::after {
    display: none;
  }

  .process_block-card:nth-child(even)::after {
    display: none;
  }
}

@media screen and (max-width:400px) {
  .process_title {
    text-align: start;
  }
}

/* SEO */
.seo-block {
  margin-bottom: 100px;
}

.seo-block_inner {
  position: relative;
}

.seo-text-wrapper {
  position: relative;
}

.seo-block_title {
  margin-bottom: 32px;
}

.seo-text-content {
  max-height: 185px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.5s ease;
}

.seo-text-content-p {
  margin-bottom: 24px;
}

.text-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.read-more-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--red-color);
  cursor: pointer;
  font-size: 16px;
  margin-top: 40px;
  font-weight: 600;
  padding-left: 20px;
  background-color: transparent;
  border: none;
  font-family: "Montserrat", sans-serif;
  transition: 0.8s;
}

.read-more-btn:hover {
  transition: 0.8s;
  opacity: 0.5;
}

.read-more-btn-ico {
  transition: transform 0.5s ease;
}

.seo-block.expanded .seo-text-content {
  max-height: 500px;
}

.seo-block.expanded .read-more-btn-ico {
  transform: rotate(180deg);
}

.seo-block.expanded .text-fade {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

@media screen and (max-width:1280px) {
  .seo-block {
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width:1000px) {
  .seo-block {
    padding: 30px;
    text-align: start;
  }

  .read-more-btn {
    padding: 0;
  }
}

@media screen and (max-width:400px) {
  .seo-block {
    padding: 15px;
    text-align: start;
  }

  .seo-block_title {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .seo-block_inner {
    margin: 0 auto;
    width: 328px;
  }

  .seo-text-content {
    max-height: 275px;
  }

  .seo-text-content-p {
    text-align: left;
  }

  .read-more-btn {
    justify-content: flex-start;
    margin-top: 20px;
    padding: 0;
  }
}

/* Партнеры */
.partners {
  margin-bottom: 100px;
}

.partners_title {
  margin-bottom: 48px;
}

.partners_inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px 20px;
}

@media screen and (max-width:1280px) {
  .partners {
    padding: 32px;
    padding-bottom: 0;
    margin-bottom: 60px;

  }

  .partners_title {
    margin-bottom: 32px;
  }

  .partners_inner {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}


/* ≤750px — слайдер по 3 логотипа */
@media (max-width:750px) {

  .partners_inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 12px;
    transition: opacity .25s ease;
  }

  .partners_inner-item {
    width: 100px;
    height: 100px;
    max-width: none;
    max-height: none;
    object-fit: contain;
    display: block;
  }

  .partners_inner.is-fading {
    opacity: .06;
    pointer-events: none;
  }

  .partners_inner-item.is-active {
    display: block;
  }

  .partners_pager {
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    gap: 4px;
    align-items: center;
    width: 116px;
  }

  .partners_pager .partners-dot {
    width: 16px;
    height: 4px;
    border: 0;
    border-radius: 4px;
    background: #d0d3d6;
    cursor: pointer;
  }

  .partners_pager .partners-dot.is-active {
    background: #d71818;
  }

  .partners_title {
    font-size: 28px;
    margin-right: auto;
  }
}

/* Портфолио */
.portfolio {
  margin-bottom: 100px;
}

.portfolio_inner-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.portfolio_inner-header-button {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #E30613;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.portfolio_inner-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
}

.portfolio_inner-block-card {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 387px;
  display: flex;
  align-items: end;
}

.portfolio_inner-block-card-text {
  color: white;
  line-height: 1.4;
  font-size: 20px;
  margin-bottom: 24px;
}

.portfolio_inner-block-card-content {
  padding-left: 32px;
  padding-bottom: 42px;
}

.portfolio_inner-block-card-button {
  padding: 14px 27px;
  background-color: var(--red-color);
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
}

.portfolio_inner-block-card-button:hover {
  opacity: 0.7;
  transition: 0.8s;
}

.portfolio_inner-header-button-bottom {
  display: none;
}

.portfolio_pager {
  display: none;
}

@media screen and (max-width:1280px) {
  .portfolio {
    padding: 30px;
    margin-bottom: 40px;
  }

  .portfolio_inner-block-card {
    height: 300px;
  }

  .portfolio_inner-block-card-content {
    padding-left: 24px;
    padding-bottom: 20px;
  }

  .portfolio_inner-block {
    gap: 8px;
  }
}

@media (max-width:750px) {
  :root {
    --pager-h: 24px;
  }

  .portfolio_slider {
    justify-items: center;
    position: relative;
  }

  .portfolio_inner-block {
    position: relative;
    overflow: hidden;
    z-index: 0;
    width: 328px;
    height: 387px;
  }

  .portfolio_inner-block-card {
    height: 387px;
  }

  .portfolio_inner-block-card {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    background-size: cover;
    background-position: center;
  }

  .portfolio_inner-block-card.is-active {
    opacity: 1;
    pointer-events: auto;
  }

  .portfolio_pager {
    height: var(--pager-h);
    display: flex;
    align-items: center;
    gap: 4px;
    z-index: 2;
    pointer-events: auto;
    margin-top: 32px;
  }

  .portfolio_pager .pager-dot {
    width: 16px;
    height: 4px;
    border-radius: 4px;
    border: 0;
    background: #d0d3d6;
    cursor: pointer;
  }

  .portfolio_pager .pager-dot.is-active {
    background: #d71818;
  }

  .portfolio_inner-block-card-button {
    padding: 14px 80px;
  }

  .portfolio_inner-title {
    font-size: 28px;
  }

  .portfolio_inner-header {
    margin-bottom: 32px;
  }
}

@media screen and (max-width:400px) {
  .portfolio_inner-header-button {
    display: none;
  }

  .portfolio_inner-header-button-bottom {
    display: flex;
    margin-top: 48px;
  }
}

/* Раздел с картой*/
.map {
  margin-bottom: 165px;
  position: relative;
}

.map_title {
  margin-bottom: 48px;
}

.map_inner-content {
  width: 412px;
  background-color: white;
  padding: 32px;
}

.map_content-title {
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
}

.map_content-subtitle {
  font-family: "Spectral", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
  opacity: 0.6;
  margin-bottom: 16px;
}

.map_content-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  margin-bottom: 24px;
}

.map_content-list-item {
  display: flex;
  align-items: center;
  gap: 18px;
}

.map_content-list-item:nth-child(2) {
  gap: 26px;
}

.map_content-list-item:nth-child(3) {
  gap: 25px;
}

.map_content-list-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.map_content-list:nth-child(2) {
  margin-bottom: 32px;
}

.map_content-list a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  color: var(--red-color);
  transition: 0.8s;
}

.map_content-list a:hover {
  opacity: 0.6;
  transition: 0.8s;
}

.map_content-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 15px 24px;
  background-color: var(--red-color);
  color: #fff;
  text-decoration: none;
  transition: 0.8s;
}

.map_content-button:hover {
  opacity: 0.7;
  transition: 0.8s;
}

.map_fullwidth {
  width: 99vw;
  margin-top: 80px;
  height: 600px;
  width: 99vw;
  position: absolute;
  top: 0;
  z-index: -1;
}

.map_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.map_image {
  object-fit: cover;
  display: block;
}

.map_inner {
  background: white;
  max-width: 412px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

@media screen and (max-width:1280px) {
  .map {
    margin-bottom: 100px;
  }

  .map_inner {
    margin: 500px auto 0;
    max-width: 660px;
    padding: 32px;
  }

  .map_title {
    margin-left: 30px;
  }

  .map_inner-content {
    width: auto;
    padding: 0px;
  }

  .map_content {
    margin-bottom: 32px;
    display: flex;
    gap: 48px;
  }

  .map_content-list:nth-child(2) {
    margin-bottom: 0;
  }

  .map_content-list-text {
    width: 175px;
  }

  .map_fullwidth {
    margin-top: 50px;
    padding: 30px;
    height: 708px;
  }

}

@media screen and (max-width:750px) {
  .map_inner {
    margin: 330px auto 0;
    padding: 28px 20px;
    max-width: 328px;
  }

  .map_content {
    flex-direction: column;
    gap: 24px;
  }

  .map_content-list-text {
    width: auto;
  }

  .map_content-title {
    width: 230px;
  }

  .map_fullwidth {
    padding: 0;
    margin-top: 60px;
    height: 400px;
  }

  .map_title {
    font-size: 28px;
  }

  .map_content-list-item {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .map_content-list-item:nth-child(2) {
    gap: 26px;
  }

  .map_content-list-item:nth-child(3) {
    gap: 25px;
  }
}

/* Подвал */
.footer {
  position: relative;
  margin-bottom: 80px;
}

.footer_inner {
  position: relative;
  display: flex;
}

.footer_logo {
  width: 265px;
  height: 66px;
  margin-right: 95px;
}

.footer_inner-service-title {
  font-weight: 500;
  font-size: 16px;
  opacity: 0.6;
  margin-bottom: 32px;
}

.footer_inner-service-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  gap: 16px 105px;
  margin-right: 105px;
}

.footer_inner-service-list-elem {
  font-weight: 600;
  max-height: 20px;
  width: 239px;
  text-decoration: none;
  color: #1C1C1C;
  transition: 0.8s;
  white-space: nowrap;
}

.footer_inner-service-list-elem:hover,
.footer_inner-contacts-list-elem:hover {
  transition: 0.8s;
  opacity: 0.6;
  cursor: pointer;
}

.footer_inner-contacts-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style: none;
  gap: 20px;
}

.footer-inner_list-item-note {
  color: #1C1C1C;
  opacity: 0.5;
}

.footer-inner_list-item-title {
  width: 237px;
  margin-bottom: 8px;
}

.footer_inner-contacts-title {
  font-weight: 500;
  font-size: 16px;
  opacity: 0.6;
  margin-bottom: 32px;
}

.footer_inner-contacts-list-elem {
  font-weight: 600;
  text-decoration: none;
  color: #1C1C1C;
  white-space: nowrap
}

.footer-inner_list-item-note,
.footer-inner_list-item-title {
  text-decoration: none;
  color: #1C1C1C;
}

.footer_inner-bottom {
  position: absolute;
  left: 0;
  right: 0;
  top: 230px;
  bottom: 20px;
  font-size: 12px;
}

.footer_inner-copyright {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #1C1C1C;
  opacity: 0.6;
}

.footer_inner-link {
  color: #1C1C1C;
}

@media screen and (max-width:1380px) {
  .footer_inner-service-list-elem {
    font-weight: 600;
    max-height: auto;
    width: auto;
  }

  .footer-inner_list-item-title {
    width: auto;
  }
}

@media screen and (max-width:1100px) {
  .footer {
    padding: 30px;
  }

  .footer_inner {
    flex-direction: column;
  }

  .footer_inner-bottom {
    position: static;
  }

  .footer_logo {
    margin-bottom: 48px;
    margin-right: 0;
  }

  .footer_inner-service {
    margin-bottom: 48px;
  }

  .footer_inner-contacts-title,
  .footer_inner-service-title {
    margin-bottom: 20px;
  }

  .footer_inner-contacts-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_inner-contacts {
    margin-bottom: 48px;
  }

  .footer_inner-copyright {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_inner-contacts-list-elem:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }

  /* Четвертый элемент (телефон 37-01-18) - правая колонка, первая строка */
  .footer_inner-contacts-list-elem:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
  }

  /* Пятый элемент (телефон 37-01-14) - правая колонка, вторая строка */
  .footer_inner-contacts-list-elem:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
  }
}

@media screen and (max-width:600px) {

  .footer_inner-contacts-list-elem:nth-child(3),
  .footer_inner-contacts-list-elem:nth-child(4),
  .footer_inner-contacts-list-elem:nth-child(5) {
    grid-column: auto;
    grid-row: auto;
    grid-area: auto;
  }

  .footer_inner {
    gap: 48px;
  }

  .footer_logo {
    width: 329px;
    object-fit: contain;
    margin-bottom: 0;
  }

  .footer_inner-service {
    margin-bottom: 0;
  }

  .footer_inner-contacts {
    margin-bottom: 0;
  }

  .footer_inner-service-list {
    margin-right: 0;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer_inner-contacts-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer_inner-copyright {
    flex-direction: column;
  }

  .footer_inner-service-title,
  .footer_inner-contacts-title {
    margin-bottom: 24px;
  }
}